version: '2'

volumes:
  portainer_data:

services:
# Load Balancer
  nginx:
    image: nginx
    container_name: loadBalancer
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    links: 
      - portainer
      - registry
    depends_on: 
      - portainer

# Applications
  portainer:
    image: portainer/portainer
    command: -H unix:///var/run/docker.sock
    restart: always
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  registry:
    image: registry:2
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - "./certs:/certs:ro"
      - "./registry/conf:/etc/docker/registry:ro"
      - "./registry/storage:/var/lib/registry:rw"


